@import "tailwindcss";

/* Animação de flash para destacar a re-renderização */
@keyframes render-flash {
  0% {
    /* Começa com uma borda vermelha e brilhante */
    box-shadow: 0 0 0px 3px #aaa;
    background: #ddd;
  }
  100% {
    /* Termina transparente, desaparecendo */
    box-shadow: 0 0 0px 3px rgba(239, 68, 68, 0);
    background: transparent;
  }
}

/* Classe que aplica a animação */
.render-flash-animation {
  /* Duração de 750ms, fácil de perceber */
  animation: render-flash 750ms ease-out;
}
